* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

small {
    font-size: 0.8em !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.progess-bar {
    position: fixed !important;
    height: 4px;
    width: var(--progessWidth);
    background-color: red;
    transition: 0.6s;
}

.progess-bar::before {
    position: fixed !important;
    z-index: -1;
    content: "";
    height: 4px;
    width: 100vw;
    opacity: 25%;
    background-color: red;
}

.main-card {
    transition: 0.5s;
    /* margin-left: 100%; */
}

ul.suggestion-box {
    list-style: none;
    height: 200px;
    overflow-y: auto;
    padding: 0;
}

ul.suggestion-box li {
    border-bottom: 1px solid rgba(182, 182, 182, 0.493);
    padding: 10px 15px;
}

ul.suggestion-box li:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.radio-cont label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(209, 213, 219, 1);
    border-bottom: none;
    user-select: none;
}

.radio-cont label>div {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    transition: 0.25s ease;
    width: 100%;
}

.radio-cont label:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.radio-cont label:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba(209, 213, 219, 1);
}

.radio-cont label>div>div {
    display: flex;
    flex-direction: column;
}

.radio-cont label>div>div small {
    font-size: 0.7em !important;
}

.radio-cont label>div:hover {
    background-color: rgba(209, 213, 219, 1);
}

.radio-cont label>div:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.6em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.02em #00005c;
}

.radio-cont label input {
    display: none;
    width: 100%;
}

.radio-cont label input:checked+div {
    background-color: rgba(236, 253, 245, 1);
    border: 1px solid rgba(167, 243, 208, 1);
    width: 100%;
    display: flex;
}

.radio-cont label input:checked+div:before {
    box-shadow: inset 0 0 0 0.3em rgb(43, 150, 100);
}

.cat-radio {
    display: none;
}

.feed-emo {
    border: 1px solid rgba(209, 213, 219, 1);
    padding: 5px 6px;
    border-radius: 4px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.feed-emo:hover {
    background-color: rgba(209, 213, 219, 1);
    transition: 0.3s;
}

#feed-cat-1:checked~.feed-emo-1,
#feed-cat-2:checked~.feed-emo-2 {
    background-color: rgba(167, 243, 208, 1);
    border: 1px solid rgba(43, 150, 100, 0.452);
    transition: 0.3s;
}

.dropzone {
    border: 2px dashed rgba(209, 213, 219, 1);
}

.mid-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(209, 213, 219, 1);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.mid-text span {
    background: #fff;
    padding: 0 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.pagination ul li {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.pagination ul li .bullet {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 575px) {
    .pagination ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        transition: all 0.3s ease-in-out;
    }
}